.favorites {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
    .favorite {
        position: relative;
        display: inline-block;
        width: 9.3rem;
        margin-bottom: 20px;
        &__image {
            width: 8rem;
            height: auto;
        }
        &__btn-delete{
            position: absolute;
            right: -0.3rem;
            top: -0.7rem;
            width: 2rem;
            background: none;
            border: none;
            .favorite__image-thrash{
                width: 100%;
            }
        }
        &__title {

        }
    }
}