ul {
  display: flex;
  margin: 0 auto;
  list-style-type: none;
  color: rgb(59, 122, 50);
  margin-left: 20px;  

  li {
    margin-left: 1rem; 
  }
}

.home {

  @media only screen and (min-width: 800px) {


    &__characters {
        display: inline-block;
        width: 80%;
    }
    &__favorites {
        display: inline-block;
        width: 20%;
        vertical-align: top;

    }
  }
}

