ul {
  display: flex;
  color: black;
  float: left;
  text-decoration: none;
  text-align: center;
  margin-left: 10rem;
}

.home {
  &__paginate {
    margin-bottom: 20px;
   width: 100%;
   justify-content: center;
   li {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    background-color: white;
    line-height: 30px;
    margin: 0 3px;
    a {
      width: 100%;
      display: block;
      font-weight: 800;
      color: var(--black-3);
      padding: 0.3em 0.8em;
    }
   }
  }
  @media only screen and (min-width: 800px) {
    width: 850px;
    margin: 0 auto;

    &__characters {
      display: inline-block;
      width: 80%;
    }
    &__favorites {
      display: inline-block;
      width: 20%;
      vertical-align: top;
    }
  }
}
