.search-bar{
    background-color: var(--black-2);
    position: relative;
    padding: 0.5rem;
    &__image{
        width: 70px;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    &__form-input{
        margin: 0 auto;
        width: 150px;
        font-size: 16px;
        position: relative;
    }
    &__input{
       margin: 0 auto;
       height: 2.5em;
       width: 100%;
       padding-left: 0.5em;
       padding-top: 0.5em;
       padding-bottom:  0.5em;
    }
    &__input-icon{
        position: absolute;
        right:  0;
        width: 30px;
    }
    @media only screen and (min-width: 800px) {
        &__form-input{
            width: 350px;
        }
        &__image{
            width: 50px;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    
    }
}