.character {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  vertical-align: top;
  height: 32rem;
  &__content {
      margin-bottom: 1rem;
  }
  &__image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  &__title {
    font-weight: var(--font_weight-1);
    color: var(--black-2);
    height: 3em;
  }

  &__description {
    font-size: var(--font_size-2);
    color: var(--grey_font-1);
    margin: 0 auto;
    width: 70%;
    text-align: left;
    min-height: 6rem;
  }

  &__btn {
    background-color: var(--red-1); /* Green */
    border: none;
    color: white;
    padding: 0.6rem 1.2rem;
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: var(--font_weight-2);
    font-size: 16px;
  }

  &__related {
    padding: 0;
  }

  &__sub-title {
    margin-bottom: 0rem;
    font-size: var(--font_size-3);
    font-weight: var(--font_weight-2);
    color: var(--grey_title-2);
  }
  &__comic {
    display: inline-block;
    margin: 0;
    width: 9rem;
    height: 2rem;
    margin-top: 1rem;
    font-size: var(--font_size-2);
    color: var(--grey_font-1);
  }
  &__btn:hover,
  &__comic:hover {
    cursor: pointer;
  }

  &::after {
    content: "";
    background-color: #fff;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 92%;
    height: 90%;
    margin: 0 auto;
    z-index: -1;
  }
}
@media only screen and (min-width: 800px) {
  .character {
    width: 50%;
    display: inline-block;
    height: 26rem;

    &__image {
      width: 140px;
      height: 140px;
      position: absolute;
      margin-left: -11rem;
    }

    &__content {
      padding-left: 7rem;

      margin-top: 1rem;
    }

    &__title {
      padding-bottom: 1rem;
    }
  }
}
