:root {
    --black-2: #2d2727;
    --black_title-1: #453d3b;
    --grey_title-2: #494140;
    --grey_font-1: #746463;
    --red_button-1: #ec1e23;
    --marvelfont-1: Roboto Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
    --font_size-1: 1.5rem;
    --font_size-2: 0.8rem;
    --font_size-3: 1.2rem;
    --font_weight-1: 600;
    --font_weight-2: 400;

  }
  

  body{
    background-color: #f4f4f4;
  }