.character-modal {
  $this: &;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  left: 50%;
  top: 50%;
  width: 90%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  &__image {
    width: 200px;
    height: 15rem;
  }
  &__container {
    display: block;
    padding: 1rem;
    left: 50%;
    right: 0;
    top: 40%;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    height: auto;
  }
  &__content {
    background-color: #fff;
    font-size: var(--font_size-2);
    color: var(--grey_font-1);
    width: 100%;
    margin: 0 auto;

    h2 {
      margin-bottom: 1rem;
    }
    p {
      height: 6.2rem;
      overflow: auto;
    }
  }

  &__actions {
    button {
      width: 50%;
      border: none;
      background: none;
      cursor: pointer;
      background-color: gainsboro;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      line-height: 4;
      font-weight: 800;
      img {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.2rem;
      }
      &:first-child {
        background-color: var(--gray-1);
        &:hover {
          opacity: 0.5;
        }
      }
      &:last-child {
        background-color: var(--gray-2);
        &:hover {
          opacity: 0.5;
        }
      }
      &.added {
        background-color: var(--black-3);
        color: var(--red-1);
      }
    }
  }

  &__close-btn {
    width: 2rem;
    height: 2rem;
    border: none;
    background: none;
    position: absolute;
    right: -11px;
    top: -12px;

    #{$this}__image-close {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }
  @media only screen and (min-width: 800px) {
    width: 700px;
  }
}
.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.48);
  z-index: 1;
  /* if backdrop support: very transparent and blurred */
  @supports (
    (-webkit-backdrop-filter: blur(1em)) or (backdrop-filter: blur(1em))
  ) {
    background-color: rgba(0, 0, 0, 0.48);
    -webkit-backdrop-filter: blur(1em);
    backdrop-filter: blur(1em);
  }
}
